@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Architects Daughter", cursive;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}
body {
  background: linear-gradient(to top, rgb(132, 255, 121), rgb(231, 208, 0));
  height: fit-content;
}
.app {
  max-width: 800px;
  height: 100vh;
  margin: auto;
}
.card {
  text-align: center;
  margin-bottom: 2px;
  border: 1px solid #000000;
  background-color: rgb(240, 255, 108);

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                        supported by Chrome, Edge, Opera and Firefox */
}
.card-list {
  display: block;
  margin: auto;
}
.matched {
  background-color: rgb(103, 255, 124);
}
.back-face {
  height: 100%;
}
.back-face img {
  width: 100%;
  height: 100%;
}
.front-face {
  height: max-content;
}
.front-face p {
  line-height: 100px;
  color: rgb(0, 197, 187);
  font-size: 23px;
}
.front-face img {
  max-width: 60px;
  max-height: 50px;
  display: block;
  margin: auto;
  margin-top: 15px;
}
.card-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  width: 400px;
  margin: auto;
}
.welcome-page {
  text-align: center;
}
.welcome-page h1 {
  font-family: "Architects Daughter", cursive;
  font-size: 50px;
  color: blueviolet;
}
.welcome-page p {
  font-family: "Architects Daughter", cursive;
  font-size: 25px;
  color: rgb(102, 102, 102);
}
.welcome-page button {
  width: 200px;
  height: 40px;
  font-size: 20px;
  background-color: rgb(244, 255, 89);
  display: block;
  margin: auto;
  margin-top: 40px;
}

.welcome-page button:first-child {
  background-color: rgb(133, 255, 245);
}
.welcome-page button:hover {
  background-color: chartreuse;
  border-left: 5px solid black;
  border-right: 5px solid black;
}

.menu-buttons {
  display: block;
  margin: auto;
  margin-top: 100px;
  width: 400px;
  padding-bottom: 40px;
}

.music-player button {
  position: absolute;
  width: 90px;
}
.how-to-play {
  padding-top: 30px;
  text-align: center;
}
.contact-information {
  padding-top: 30px;
  text-align: center;
}
.attributions {
  padding-top: 30px;
  text-align: center;
}
.attributions button {
  margin: 20px;
}
.end-game {
  padding-top: 30px;
  text-align: center;
}
.end-game button {
  display: block;
  margin: auto;
  width: 200px;
  height: 35px;
  margin-top: 30px;
  font-size: 20px;
}
@media only screen and (max-width: 500px) {
  .app {
    margin: 0;
  }
  .card-list {
    width: 100%;
    height: 100%;
  }
}

@media only screen and (min-width: 1000px) {
  .app {
    margin: auto;
  }
  .card-list {
    height: 100vh;
  }
}
